body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1140px;
    margin: auto;
}

.button {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 15px 30px;
    background-color: #FF5959;
    border-radius: 5px;
    display: inline-block;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

h4 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 35px;
}

.black {
    color: #000;
}

.white {
    color: #fff;
}

.small-font {
    font-size: 16px;
}

/* Header Area */
.header-area {
    padding-top: 190px;
    padding-bottom: 180px;
    text-align: center;
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-area-content {
    width: 800px;
    margin: auto;
}

/* Donate Area */
.donate-area {
    padding: 60px 0;
    text-align: center;
}

.donate-area-content {
    width: 800px;
    margin: auto;
}

.donate-ammounts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.ammount {
    background-color: #FAFAFA;
    padding: 45px 25px;
    border-radius: 5px;
    border: 2px solid transparent;
}

.ammount.active {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    padding: 45px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.ammount.active h3 {
    color: #FF5959;
}

.ammount:hover {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    padding: 45px 25px;
    border-radius: 5px;
    cursor: pointer;
    color: #FF5959;
}

.ammount h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.donate-area-content .button {
    display: inline-block;
    margin-top: 30px;
}

.custom-ammount input {
    border: none;
    width: 100%;
    border-bottom: 1px solid #DADADA;
    ;
    font-size: 18px;
    color: #B3B3B3;
    text-align: center;
}

input:focus {
    outline: none;
}

/* Donate Plan Area */
.donate-plan-area {
    text-align: center;
    padding: 80px 0;
}

.plans {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.plan {
    margin-right: 25px;
    padding-top: 55px;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.plan p {
    margin-bottom: 0;
}

.plan img {
    margin-bottom: 35px;
}

.plan1 {
    background-color: #EDF5F6;
}

.plan2 {
    background-color: #FFEEEE;
}

.plan3 {
    background-color: #FFF4D6;
}

/* Blog Area Start */
.blog-area {
    max-width: 1140px;
    margin: auto;
    padding: 60px 0;
}

.blog-1 {
    display: flex;
    margin-bottom: 100px 0;
}

.blog-1 .blog-content {
    margin-right: 100px;
}

.blog-image img {
    width: 100%;
    border-radius: 10px;
}

.blog-2 {
    display: flex;
    margin: 100px 0;
}

.blog-2 .blog-image {
    margin-right: 100px;
}